* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }


header {
 display: flex;
 justify-content: space-between;
 height: 33vh;
 background-image: url('./imgDesktop/header\ desktop2.png'); /* Ruta de la imagen de fondo */
 background-size: cover; /* La imagen de fondo cubrirá todo el contenedor */
 background-position: center; /* Centra la imagen de fondo */
}

.headerLogo {
  height: 15vh;
  width: 15vw;

}

.headerLogo img {
  max-width: 100%;
  height: auto; 
  display: block;
}

.menu {
  text-align: center; 
  padding-right: 7rem;
  padding-top: 27vh;
  font-family: 'Kameron', serif;
  font-size: 1.2rem;
  font-weight: 700;
  color:#74897d ;
}

.menu ul {
  list-style-type: none; 
}

.menu li {
  display: inline-block; /* Para que los elementos de la lista estén en línea */
  margin-left: 4rem; /* Espacio entre los elementos de la lista */
  }

.invite {
  display: flex;
  justify-content:center ;
  align-content: center;
  height: 60vh;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.invite img {
  max-width: 100%;
  height: auto; 
  display: block;
}

.invitecenter {
  padding-top:7rem;
  text-align: center;
  line-height: 4rem;
}

.invitecenter p {
  font-family: 'Tangerine', cursive;
  font-weight: 700;
  font-size: 6rem;
}

.invitecenter span {
  font-family: 'Tangerine', cursive;
  font-weight: 700;
  font-size: 3rem;

}

.mensaje{
  text-align: center;
  line-height: 2rem;
  margin-bottom: 4rem;
  width: 70vw;
  margin-left: 15vw;
}

.explicacion{
  font-family: 'Kameron', serif;
  font-size: 1.5rem;
  padding-bottom:4rem;
  padding-top: 4rem;
}

.verse span {
  font-size: 2rem;
  font-family: 'Tangerine', cursive;
  font-weight: 700;
  color:#74897d ;
}

.verse{
  font-size: 3rem;
  font-family: 'Tangerine', cursive;
  font-weight: 400;
  line-height: 3rem;
}

.datos{
  font-family: 'Kameron', serif;
  justify-content:center ;
  align-content: center;
  text-align: center;
  line-height: 2rem;
  margin-bottom: 4rem;
  font-size: 1.2rem;
}

.fecha{
  font-weight: 700;
  color:#74897d ;
  font-size: 2rem;
  padding-bottom: 1rem;
  padding-top: 2rem;

}

.vestuario{
  font-family: 'Kameron', serif;
  justify-content:center ;
  align-content: center;
  text-align: center;
  line-height: 2rem;
  margin-bottom: 4rem;
  font-size: 1.2rem;
}

.vestuario span{
  font-weight: 700;
  color:#74897d ;
}

.titulov{
  font-weight: 700;
  color:#74897d ;
}